/* Home Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
  background: #c4c4c4;
}

.todoList {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin:0 auto;
}

.listItem {
  background: #75a378;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  font-variant:small-caps;
}

.listItem:hover {
  background: #DDDDDD;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  font-variant:small-caps;
}

.inputContainer {
  width: 40%;
  margin:0 auto;
  display: flex;
  flex-direction: column;
}

.todoInput {
  padding: 10px;
  margin-top: 30px;
  font-size: 1.1em;
}

.todoButton {
  padding: 10px;
  margin-top: 10px;
  border: none;
  background: #8e8e8e;
  font-size: 1.1em;
  border-radius: 5px;
}

.todoButton:hover {
  background: #107222;
}

.todoButton :active{
  background: #00AAFF;
}
